*{
margin:0;
padding:0;
box-sizing:border-box;   
}

.parentdiv{
display:flex;
background:gray; 
height:150px; 
gap:20px;  
}

.card{
min-width:250px;    
background:black;
color:white;
display:flex;
justify-content:left;
gap:5px;
font-size:larget;
overflow:hidden;  
}



.button{
background:black;
color:white;
font-size:larget; 
width:100px; 
height:20px;
cursor: pointer;
margin-top:5px;
}


.form{
display:flex;
flex-direction:column;
width:200px; 
margin-top:50px;  
}


.input{
cursor: pointer;    
}


.detail{
width:165px;    
display:flex;
flex-direction:column;
gap:10px;
}


.parent{
display:flex;
}


.img{
height:80px;
width:80px;    
}























