
*{
box-sizing:border-box;
margin:0;    
} 

body{
background:gray;
height:100vh;
width:100vw;
display:flex;
justify-content:center;
align-items:center;
}

#parentdiv{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:20px;
}


.frame{
height:50vh;
width:50vw;
display:flex;
overflow:hidden;
}


.slider{
display:flex;
transition:all 1s ease;
}


.img{
height:50vh;
width:50vw; 
object-fit:cover; 
}

.arrow{
height:150px;
}


.left{ 
transform:rotate(180deg);     
cursor: pointer;
}


.right{    
cursor: pointer;
transform:translatey(20px);
}



.top{
display:flex;
justify-content:center;  
align-items:center; 
position:relative; 
}


.bottom{
display:flex;
gap:5px;
}


.dot{
height:15px;
width:15px;
border:2px solid white;
border-radius:50%;    
}


/*@media only screen and (max-width:700px){

.frame{
height:300px;
width:400px;
display:flex;
overflow:hidden;
}

.img{
height:300px;
width:400px; 
object-fit:cover;   
}

.arrow{
height:100px;
}

.dot{
height:12px;
width:15px;
border:2px solid white;
border-radius:50%;    
}


} */