
*{
margin:0;    
padding:0;
box-sizing:border-box;
}

body{
position: relative;
background:green;
}


#container{
height:fit-content;
width:100vw;    
background:green;
display:flex;
flex-direction: column;
gap:5px;
flex-wrap:wrap;
}



#card{
background:brown;
width:250px;
height:150px;
display:flex;
flex-direction:column;
justify-content:space-around;
border-radius:5px;
z-index:1;
}


#parentcard{
width:260px ;
height:160px;
background-color:black;
display:flex;
justify-content:center;
align-items: center;
border-radius:5px;
position: relative;
overflow:hidden;
}


.child{
height:30px;
min-width:400px;
position:absolute;  
}


.child.active{           
animation-name:line;
animation-duration:2s;
animation-timing-function:linear;
animation-iteration-count:infinite;
background:yellow;
}


@keyframes line{
  
0%{
transform:rotate(0deg);    
}    
    
100%{
transform:rotate(360deg);    
}

}


.div{
display:flex;
align-items:center; 
}


.btn{
width:40%;  
padding:2px; 
background:blue;
color: #eaeaea;;   
cursor: pointer;
border-radius:5px;
border:none;
}


#form{
display:flex;
flex-direction: column;
width:300px;
height:240px;
background:black;
justify-content:center;
align-items: center;
gap:5px;
position:absolute;
bottom:0;
right:0;
position:fixed;
}

.input{
width:98%;
height:42px; 
border:none;
outline:0;
background:beige;
color:black;
}


#button{
background:#eaeaea;
color: #555;
border: none;
cursor:pointer;    
}


#deleteall{
height:40px;
width:100px;   
position:absolute;
top:0;
right:0; 
position:fixed;
cursor: pointer;
}















































