*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'poppins', Helvetica, sans-serif;
}


.background{
width:100vw;
height:100vh;  
background:rgba(0, 0, 0, 0.404),(0, 0, 0, 0.404),(0, 0, 0, 0.404);
object-fit:cover;
object-position:center;
position:absolute;
z-index:-1;
}



.container{
width:100vw;
height:100vh;
position: relative;
display:flex;
justify-content:center;
align-items:center;

}


.formbox{
width:100%;
max-width:250px;
min-width:250px;
max-height:350px;
min-height:350px;
background:white;
display:flex;
flex-direction:column;
text-align:center;
justify-content:center;
align-items:center;
border-radius:5px;
box-shadow:-2px 2px 15px rgba(0, 0, 0, 0.5);
}


.div1{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;  
gap:10px;  
}


.h1{
font-size:30px;
color:green;    
}

.underline{
width:30px;
height:4px;
background:green; 
border-radius:5px;  
transition:0.5s; 
}


.inputfild{
background:#eaeaea;
margin:15px 0px;  
border-radius:5px;
display:flex;
align-items:center;
}

.inputfild input{
background:transparent;    
border:0;
outline:0;
padding:10px;
color:#555;
}


.inputfild i{
margin-left:15px;  
color:#999;  
}

.inputgroup{
height:220px; 
}

.inputgroup p a{
text-decoration:none;
color:green;    
}

.inputgroup p{           
font-size:15px;  
text-align:left;
}


.div2{
display:flex;
justify-content:center;
gap:5px;
}

.btn{
color:white;
background:green; 
border:none;
border-radius:10px;
width:100px;
height:30px; 
cursor: pointer;
transition-duration:1s;
}

.disable{
background:#eaeaea;
color:#555;        
}


.inputfild1{   
height:35px; 
max-height:35px;
overflow:hidden;  
transition:0.5s;  
}









