
*{
margin:0;    
padding:0;    
box-sizing:border-box;  
font-family:Poppins, Helvetica, sans-serif;  
}


body{
background:pink;    
}


#childdiv{
width:80vw;    
height:40vh;
background:beige;   
font-size:20px; 
display:flex;
justify-content:space-between;
position: relative;

}

#cross{
cursor: pointer; 
position:absolute;   
top:10px;
right:5px;   
}

#child{
display:flex;
flex-direction:column;
justify-content:space-around;    
}



#form{
display:flex;
flex-direction:column;
height:200px;
width:300px;    
}


.in{
height:40px;
outline:none;
}


.btn{
background: #999;
color: #eaeaea;    
cursor: pointer;
}


#update{
height:30px;
width:150px;
cursor: pointer;    
background:black;
color: #eaeaea;;
}


.parentdiv{
display:flex;
flex-direction:column;
gap:10px;    
}



#select{
color: #999;   
height:40px;
}


.discription{
width:80vw;            
display:flex;
overflow:hidden;
}



































